@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  @apply font-poppins bg-blue-50 text-gray-800;
}

/* Optional custom scrollbar for tasks */
.task-container::-webkit-scrollbar {
  width: 6px;
}
.task-container::-webkit-scrollbar-thumb {
  background-color: #9d0191;
  border-radius: 4px;
}
